<div class="container">
  <div class="d-flex justify-content-between">
    <h1>Lost pets</h1>
    <%= link_to 'Report pet', new_pet_path, class: 'btn btn-primary d-block' %>
  </div>
  <ul class='list-group'>
    <% @pets.each do |pet| %>
      <li class='list-group-item'>
        <%= link_to pet.name, pet_path(pet) %> -
        <span>Found <%= pet.found_days_ago %> days ago</span>
        <%= link_to 'Remove', pet_path(pet), class: "btn btn-danger", data: { turbo_method: :delete, turbo_confirm: 'Are you sure?'} %>
      </li>
    <% end %>
  </ul>
</div>
