<h1>Lost pets</h1>

<ul>
  <% @pets.each do |pet| %>
    <li>
      <%= link_to pet.name, pet_path(pet) %> -
      <span>Found <%= pet.found_days_ago %> days ago</span>
      <%= link_to 'Remove', pet_path(pet), data: { turbo_method: :delete, turbo_confirm: 'Are you sure?'} %>
    </li>
  <% end %>
</ul>
